.head {
    position: fixed;
    height: 80px;
    width: 100%;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    z-index: 10;
}

.logo {
    position: absolute;
    margin-left: 13%;
    margin-top: 10px;
    width: 161px;
    height: 46px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-co {
    background-color: white;
    border-radius: 1.5rem;
    width: 131.04px;
    height: 42.04px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
}

.ge-co {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}
@media (max-width:600px) {
    .logo {
        margin-left: 2%;
        margin-top: 10px;
        width: 161px;
        height: 46px;
        
    }
    
}